$color-green: #2f953e;

$color-blue: #2f8695;
$color-blues: #007285;

$color-pink: #952f86;
$color-brown: #953e2f;
$color-dark-grey: #393939;
$color-light-grey: #D8D8D8;

$color-blue-pale: #556b6f;
$color-blue-tint: #d2ecf1;
$color-blue-dark: #0e282d;

$colorscheme: (
        primary: $color-blue,
        secondary: $color-dark-grey,
        third: white,
        alt: $color-light-grey
);

$body-bg: linear-gradient(to left, white, #f3f3f3);
$text-color: $color-blue-dark;//map_get($colorscheme, secondary);
$link-color: $color-blue-pale;//map_get($colorscheme, primary);
$link-color-hover: darken($link-color, 20%);

$box-shadow-hover: 0 0 8px rgba(0,0,0,0.2);