/**
  Fonts & Typo
  --------------------------------
 */
$base-font: adelle();
$logo-font: clarendon();
$header-font: adelle();

$base-font-size: 0.875rem; // 14px
$base-line-height: 1.5;

$header-font-size: (
  h1: ($base-font-size * 2.5), // 35px
  h2: ($base-font-size * 2), // 28px
  h3: ($base-font-size * 1.642857), // 23px
  h4: ($base-font-size * 1.357143), // 19px
  h5: ($base-font-size * 1.1), // 15px
  h6: ($base-font-size * 1) // 14px
);