@mixin flexcontainer(){
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  > header {
    width: 100%;

    + .col {
      padding-left: 0;
    }
  }
  > .col {
    // Col styles
    padding: $gutter/2;
    padding-top: 0;

    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}

@mixin colBox($cols: 2) {

  @include flexcontainer;

  > .col {
    width: #{100%/$cols};

    header {

      h2,h3,h4 {
        margin-bottom: .5em;
      }
      h5,h6 {
        margin-bottom: 0;
      }
    }
  }

  @for $i from 1 to $cols {

  }
}