@import url("https://use.typekit.net/vyn2soz.css");


@function clarendon(){
  @return "clarendon-urw", serif;
}
@function adelle(){
  @return "adelle-sans", sans-serif;
}
@function reross(){
  @return "reross-rectangular", sans-serif;
}

@mixin clarendon(){
  font-weight: 300;
  font-family: clarendon();

  b, strong {
    font-weight: normal;
  }
}
@mixin adelle(){
  font-weight: normal;
  font-family: adelle();
}

@mixin reross() {
  font-family: reross();
  font-weight: 400;
}

.clarendon {
  @include clarendon;
}
.adelle {
  @include adelle;
}
.reross {
  @include reross;
}