.customerbox {
  display: block;
  border: 1px solid $text-color;
  padding: $gutter/2;
  position: relative;
  cursor: pointer;
  margin-bottom: $gutter/2;

  header {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: .4em;

    h2, h3 {
      margin-top: 0;
      margin-bottom: 0;

      &::after {
        display: none;
      }
    }
  }

  &:hover {
    box-shadow: $box-shadow-hover;
  }

}

// Small customerbox
.customerbox--small {
  border: none;
  padding: 0;

  &:hover {
    box-shadow: none;
  }
}

.customerbox__target {
  color: $text-color;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }
}

.customerbox__item {
  margin-bottom: .25em;
}

.customerbox__item a {
  position: relative;
  z-index: 3;
}

.customerbox__item--arrow {
  position: absolute;
  right: $gutter/2;
  top: 50%;
  transform: translate(-$gutter/2, -50%);
  transition: getTransition();
  font-size: 2.333333em;
  color: $link-color;

  .customerbox:hover & {
    transform: translate(0, -50%);
    color: $link-color-hover;
  }
}

.customerbox__item--cms--pached_false {
  color: #ff1d92;
}