<!DOCTYPE html>
{namespace neos=Neos\Neos\ViewHelpers}
{namespace fusion=Neos\Fusion\ViewHelpers}
<html>
<head>
    <f:section name="stylesheets">
        <!-- Put your stylesheet inclusions here, they will be included in your website by Fusion -->

        <link rel=stylesheet href="{f:uri.resource(path: 'Styles/main.css', package: 'Joekolade.Bureau')}">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" sizes="57x57" href="{f:uri.resource(path: 'Favicons/apple-icon-57x57.png', package: 'Joekolade.Bureau')}">
        <link rel="apple-touch-icon" sizes="60x60" href="{f:uri.resource(path: 'Favicons/apple-icon-60x60.png', package: 'Joekolade.Bureau')}">
        <link rel="apple-touch-icon" sizes="72x72" href="{f:uri.resource(path: 'Favicons/apple-icon-72x72.png', package: 'Joekolade.Bureau')}">
        <link rel="apple-touch-icon" sizes="76x76" href="{f:uri.resource(path: 'Favicons/apple-icon-76x76.png', package: 'Joekolade.Bureau')}">
        <link rel="apple-touch-icon" sizes="114x114" href="{f:uri.resource(path: 'Favicons/apple-icon-114x114.png', package: 'Joekolade.Bureau')}">
        <link rel="apple-touch-icon" sizes="120x120" href="{f:uri.resource(path: 'Favicons/apple-icon-120x120.png', package: 'Joekolade.Bureau')}">
        <link rel="apple-touch-icon" sizes="144x144" href="{f:uri.resource(path: 'Favicons/apple-icon-144x144.png', package: 'Joekolade.Bureau')}">
        <link rel="apple-touch-icon" sizes="152x152" href="{f:uri.resource(path: 'Favicons/apple-icon-152x152.png', package: 'Joekolade.Bureau')}">
        <link rel="apple-touch-icon" sizes="180x180" href="{f:uri.resource(path: 'Favicons/apple-icon-180x180.png', package: 'Joekolade.Bureau')}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{f:uri.resource(path: 'Favicons/android-icon-192x192.png', package: 'Joekolade.Bureau')}">
        <link rel="icon" type="image/png" sizes="32x32" href="{f:uri.resource(path: 'Favicons/favicon-32x32.png', package: 'Joekolade.Bureau')}">
        <link rel="icon" type="image/png" sizes="96x96" href="{f:uri.resource(path: 'Favicons/favicon-96x96.png', package: 'Joekolade.Bureau')}">
        <link rel="icon" type="image/png" sizes="16x16" href="{f:uri.resource(path: 'Favicons/favicon-16x16.png', package: 'Joekolade.Bureau')}">
        <link rel="manifest" href="{f:uri.resource(path: 'Favicons/manifest.json', package: 'Joekolade.Bureau')}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{f:uri.resource(path: 'Favicons/ms-icon-144x144.png', package: 'Joekolade.Bureau')}">
        <meta name="theme-color" content="#ffffff">

        <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "Organization",
          "url": "https://www.schaefer-webentwicklung.de",
          "logo": "https://www.schaefer-webentwicklung.de/_Resources/Static/Packages/Joekolade.Bureau/Images/schaefer-webentwicklung_tower.svg",
          "name": "Schäfer - Büro für Webentwicklung",
          "sameAs": [
            "https://plus.google.com/b/104459639579267894584/",
            "https://twitter.com/SchaeferWeb",
            "https://www.facebook.com/schaeferweb/"
          ],
          "contactPoint": {
            "@type": "ContactPoint",
            "telephone": "+4917624088891",
            "contactType": "Customer service"
          }
        }
        </script>

    </f:section>
    <f:section name="headScripts">
        <!-- Put your scripts inclusions for the head here, they will be included in your website by Fusion -->
    </f:section>

</head>
<body class="public">
<f:section name="body">


    <div class="wrapper" style="text-align: center;">
        <header>
            <a class="link" href="/">
                <h1 class="titel">
                <img src="{f:uri.resource(path: 'Images/schaefer-webentwicklung_tower.svg', package: 'Joekolade.Bureau')}"
                     alt="Logo: Schäfer" width="350"/>
                    <span class="hidden">Schäfer - Büro für Webentwicklung</span>
                </h1>
            </a>
        </header>

        {content.main -> f:format.raw()}

    </div>

</f:section>
<f:section name="bodyScripts">
    <!-- Put your scripts inclusions for the end of the body here, they will be included in your website by Fusion -->
</f:section>
</body>
</html>
