
.joekolade-bureau-referencelist {
  margin: 2em auto 2em;
  padding-top: 2em;
  border-top: 1px solid #cdcdcd;

  @media screen and (min-width: 768px){
    max-width: 80%;
  }
}

.references__list {
  figure img {
    padding: 3px;
    border-radius: 2px;
    background: #444e4c;
    max-width: 100%;
    box-shadow: 0 0.7em 0.7em 0.35em rgba(0, 0, 0, 0.1);
  }
}
