/*
  /settings: Global variables, site-wide settings, config switches, etc.
  /tools: Site-wide mixins and functions.
  /generic: Low-specificity, far-reaching rulesets (e.g. resets).
  /elements: Unclassed HTML elements (e.g. a {}, blockquote {}, address {}).
  /objects: Objects, abstractions, and design patterns (e.g. .o-layout {}).
  /components: Discrete, complete chunks of UI (e.g. .c-carousel {}). This is the one layer that inuitcss doesn’t provide code for, as this is completely your terrain.
  /utilities: High-specificity, very explicit selectors. Overrides and helper classes (e.g. .u-hidden {}).
 */

// bower:scss
// endbower

// SETTINGS
@import "settings/settings.colors";
@import "settings/settings.grid";
@import "settings/settings.typo";

// TOOLS
@import 'tools/tools.functions';
@import 'tools/tools.fonts_typekit';
@import 'tools/tools.grid';

// GENERIC
@import 'generic/generic.meyer_reset';

// ELEMENTS
@import "elements/elements.base";
@import "elements/elements.text";

// OBJECTS
//--

// COMPONENTS
@import "internal/components/component.agencydata";
@import "internal/components/component.customerbox";
@import "internal/components/component.factbox";
@import "internal/components/component.footer";
@import "internal/components/component.header";
@import "internal/components/component.box";
@import 'components/bureau/component.bureau.references';


// UTILITIES
//--


.wrapper {
  max-width: $boxed-width;
  margin: 0 auto;
  padding: $gutter/2;
  padding-bottom: 0;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  section.content {
    flex: 1;
  }
}

body {
  background: $body-bg;
  font-family: $base-font;
  color: $text-color;
  font-size: $base-font-size;
  line-height: $base-line-height;
}
