// --------------------
// Texts
// --------------------
// --------------------


b,strong {
  font-weight: bold;
}

p {
  margin-bottom: 0.75em;
}

figure {
  max-width: $boxed-width * .6;
  margin-left: auto;
  margin-right: auto;
}
img {
  max-width: 100%;
  height: auto;
}

// Header
// --------------------

// Loop through header list
@each $header in $header-font-size {
  #{nth($header, 1)} {
    font-family: $header-font;
    font-size: nth($header, 2);
    font-weight: 300;
    position: relative;

    margin-bottom: 0.5em;
  }
}

h1,h2,h3 {
  margin-bottom: 1em;

  &::after {
    .internal & {
      content: '';
      min-width: 50%;
      width: 50%;
      height: 1px;
      background: map_get($colorscheme, alt);
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}

header {
  h1,h2,h3,h4,h5,h6 {
    &:not(:last-child) {
      margin-bottom: -0.3em;
    }
  }
}


// Links
// --------------------

a {
  color: $link-color;
  transition: getTransition();
  text-decoration: none;

  &:hover,
  &:active {
    color: $link-color-hover;
  }

  .button {

    &:active,
    &:hover {
      box-shadow: $box-shadow-hover;
    }
  }
}


// Lists
// --------------------
// colored bullet
$list-bullet-color: inherit;

ul {
  list-style: none;
  margin-left: 0.9em;

  li::before {
    content: "-";
    color: $list-bullet-color;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
}




// Quotes
// --------------------
$fontsize-blockquote: 1.4;
blockquote {
  color: lighten($text-color, 32%);
  font-size: $fontsize-blockquote * 1em;
  //line-height: 1.1;
  font-family: reross();
  display: inline-block;

  text-indent: 1em;
  text-align: right;

  &::before {
    content: '“';
  }

  footer {

    &::before {
      content: '” ';
      font-size: $fontsize-blockquote * 1em;
    }

    display: inline;
    font-size: 1em / $fontsize-blockquote;
  }
}



// Specials
// --------------------

.content__backlink {
  margin-bottom: $gutter;

  i,.svg-inline--fa {
    display: inline-block;
    margin-right: 1em;
    transform: translate(#{$gutter/2}, 0);
    transition: getTransition();
  }
  a:hover {
    i,.svg-inline--fa {
      transform: translate(#{$gutter/4}, 0);
    }
  }
}

.fa-typo3 {
  color: #f49700;
}
.fa-neos {
  color: #00ADEE;
}

@media screen {
  .sr-only {
    display: none;
  }
}