
$svg-corners: "data:image/svg+xml;utf8,<svg width='275px' height='275px' viewBox='0 0 275 275' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><g stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'><g fill='#D8D8D8' fill-rule='nonzero' stroke='#979797'><g><path d='M4.03553391,4.03553391 L6.71751442,6.71751442 L6.71751442,6.01040764 L6.01040764,6.71751442 L6.71751442,6.71751442 L4.03553391,4.03553391 Z M4.03553391,4.03553391 L0.5,0.5 L0.5,0.75 L0.5,3.33066907e-16 L-6.66133815e-16,0.5 L1.10355339,0.5 L0.5,0.5 L4.03553391,4.03553391 Z M0.5,0.75 L0.5,10.8535534 L0.5,0.75 Z M0.5,10.8535534 L0.5,20 L1,19.5 L-1.11022302e-16,19.5 L0.5,20 L0.5,10.8535534 Z M14.7216615,0.5 L21,0.5 L20.5,0 L20.5,1 L21,0.5 L14.7216615,0.5 Z' id='Combined-Shape'></path></g><g transform='translate(265.000000, 10.500000) rotate(90.000000) translate(-265.000000, -10.500000) translate(254.500000, 0.500000)'><path d='M4.03553391,4.03553391 L6.71751442,6.71751442 L6.71751442,6.01040764 L6.01040764,6.71751442 L6.71751442,6.71751442 L4.03553391,4.03553391 Z M4.03553391,4.03553391 L0.5,0.5 L0.5,0.75 L0.5,3.33066907e-16 L-6.66133815e-16,0.5 L1.10355339,0.5 L0.5,0.5 L4.03553391,4.03553391 Z M0.5,0.75 L0.5,10.8535534 L0.5,0.75 Z M0.5,10.8535534 L0.5,20 L1,19.5 L-1.11022302e-16,19.5 L0.5,20 L0.5,10.8535534 Z M14.7216615,0.5 L21,0.5 L20.5,0 L20.5,1 L21,0.5 L14.7216615,0.5 Z' id='Combined-Shape'></path></g><g transform='translate(264.500000, 265.000000) rotate(180.000000) translate(-264.500000, -265.000000) translate(254.000000, 255.000000)'><path d='M4.03553391,4.03553391 L6.71751442,6.71751442 L6.71751442,6.01040764 L6.01040764,6.71751442 L6.71751442,6.71751442 L4.03553391,4.03553391 Z M4.03553391,4.03553391 L0.5,0.5 L0.5,0.75 L0.5,3.33066907e-16 L-6.66133815e-16,0.5 L1.10355339,0.5 L0.5,0.5 L4.03553391,4.03553391 Z M0.5,0.75 L0.5,10.8535534 L0.5,0.75 Z M0.5,10.8535534 L0.5,20 L1,19.5 L-1.11022302e-16,19.5 L0.5,20 L0.5,10.8535534 Z M14.7216615,0.5 L21,0.5 L20.5,0 L20.5,1 L21,0.5 L14.7216615,0.5 Z' id='Combined-Shape'></path></g><g transform='translate(10.000000, 264.500000) rotate(270.000000) translate(-10.000000, -264.500000) translate(-0.500000, 254.500000)'><path d='M4.03553391,4.03553391 L6.71751442,6.71751442 L6.71751442,6.01040764 L6.01040764,6.71751442 L6.71751442,6.71751442 L4.03553391,4.03553391 Z M4.03553391,4.03553391 L0.5,0.5 L0.5,0.75 L0.5,3.33066907e-16 L-6.66133815e-16,0.5 L1.10355339,0.5 L0.5,0.5 L4.03553391,4.03553391 Z M0.5,0.75 L0.5,10.8535534 L0.5,0.75 Z M0.5,10.8535534 L0.5,20 L1,19.5 L-1.11022302e-16,19.5 L0.5,20 L0.5,10.8535534 Z M14.7216615,0.5 L21,0.5 L20.5,0 L20.5,1 L21,0.5 L14.7216615,0.5 Z' id='Combined-Shape'></path></g><g transform='translate(129.000000, 129.000000)'><path d='M2.22166145,8.5 L12.7216615,8.5 L2.22166145,8.5 Z M12.7216615,8.5 L19,8.5 L18.5,8 L18.5,9 L19,8.5 L12.7216615,8.5 Z M2.22166145,8.5 L-2,8.5 L-1.5,9 L-1.5,8 L-2,8.5 L2.22166145,8.5 Z' id='Rectangle' transform='translate(8.500000, 8.500000) rotate(-45.000000) translate(-8.500000, -8.500000)'></path><path d='M2.22166145,8.5 L12.7216615,8.5 L2.22166145,8.5 Z M12.7216615,8.5 L19,8.5 L18.5,8 L18.5,9 L19,8.5 L12.7216615,8.5 Z M2.22166145,8.5 L-2,8.5 L-1.5,9 L-1.5,8 L-2,8.5 L2.22166145,8.5 Z' id='Rectangle' transform='translate(8.500000, 8.500000) rotate(45.000000) translate(-8.500000, -8.500000)'></path></g></g></g></svg>";

body {
  background: $body-bg;
  font-family: $base-font;
  color: $text-color;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

.wrapper {
  max-width: $boxed-width;
  margin: 0 auto;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  section.content {
    flex: 1;
  }

  > * {
    padding: 0 $gutter;
  }
}


section.content {

  .loading--active & {

    > * {
      opacity: 0;
    }
  }
}