{namespace neos=Neos\Neos\ViewHelpers}

<f:section name="default">
    Pleaase specify
    <code>sectionName</code>
    in Fusion!
</f:section>

<f:section name="header">
    <header>
        <div class="logo">
            <div class="logo__image">
                <svg width="50px" height="60px" viewBox="0 0 50 60" version="1.1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs></defs>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Logo-Box" fill="#0D7384">
                            <g id="Logo:-Sbfw">
                                <g id="logo_sbfw">
                                    <path d="M49.6,0 L49.6,23.9 C49.6,34.7 45.2,44.5 38,51.5 L20,33.5 C17.3,30.8 17.3,26.6 20,23.9 C22.6,21.3 26.9,21.3 29.5,23.9 C32.1,26.5 32.1,30.8 29.5,33.4 L29,33.9 C28.8,34.2 28.8,34.6 29,34.8 L32.2,38 C32.5,38.3 32.9,38.2 33.1,38 L33.6,37.5 C38.5,32.6 38.5,24.7 33.6,19.8 C32.6,18.8 31.4,18 30.2,17.4 L30.2,6.9 C30.2,6.4 30.6,5.9 31.2,5.9 C31.7,5.9 32.2,6.3 32.2,6.9 C32.2,7.4 31.8,7.9 31.2,7.9 L31.2,8.7 C32.2,8.7 33,7.9 33,6.9 C33,5.9 32.2,5.1 31.2,5.1 C30.2,5.1 29.4,5.9 29.4,6.9 L29.4,14.8 C28.8,12.7 27.8,10.7 26.6,9.6 C26.7,9.4 26.7,9.3 26.7,9.1 C27.8,8.9 28.5,8.6 28.5,8.2 C28.5,7.8 27.8,7.5 26.7,7.3 C26.4,6.1 25.7,5.1 24.8,5.1 C23.9,5.1 23.2,6.2 22.9,7.3 C21.8,7.5 21.1,7.8 21.1,8.2 C21.1,8.6 21.8,8.9 22.9,9.1 C22.9,9.3 22.9,9.5 23,9.6 C21.3,11.1 20,14.5 19.6,17.3 C18.3,17.9 17,18.7 16,19.8 C11.1,24.7 11.1,32.6 16,37.5 L33.7,55.2 C31,57.2 28,58.8 24.9,60 C10.3,54.4 0,40.3 0,23.9 L0,0 C0,0 41,0 49.6,0 Z"
                                          id="Shape" fill-rule="nonzero"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
            <div class="logo__claim">
                <h1>Schäfer</h1>
                <h2>Büro für Webentwicklung</h2>
            </div>
        </div>
        <!--
        <a href="#" class="navigation__toggle">
            <div class="bars">
                <div class="sr-only">Navigation</div>
            </div>
        </a>
        -->
    </header>
</f:section>

<f:section name="credentials">
    <section class="agencydata">
            <b class="agencydata__name">{title}</b>
        <neos:link.node node="{agency}" class="agencydata__function">
            <i class="fal fa-id-card"></i></neos:link.node>
        <!--
        <a href="#" class="agencydata__function"><i class="fal fa-sign-out"></i></a>
        -->
    </section>
</f:section>
