{namespace neos=Neos\Neos\ViewHelpers}
<section class="customerbox">
    <header>
        <neos:link.node node="{customer}" class="customerbox__target">
            <h3>{title}</h3>
        </neos:link.node>
    </header>
    {customerurl -> f:format.raw()}
    {customercms -> f:format.raw()}
    {customerhoster -> f:format.raw()}
    <div class="customerbox__item customerbox__item--arrow">
        <i class="fal fa-arrow-right"></i>
    </div>
</section>
