.leadbox {
  background: rgba($color-pink, 0.7);
  padding: 1em 2em;
  color: white;
  position: relative;
  margin: auto;
  width: 80%;

  > header {
    color: $text-color;
    transform: translate(-10%, 0);

    h1,h2,h3 {
      line-height: 1;
    }
  }
}