{namespace neos=Neos\Neos\ViewHelpers}
<f:section name="stylesheets"></f:section>
<f:section name="content">
    <f:if condition="{customerlist}">
        <f:then>
            <h2>
                <f:translate id="properties.customers" source="NodeTypes/Agency" package="Joekolade.Bureau"></f:translate>
            </h2>
            <div id="customer__accordion">
                {customerlist -> f:format.raw()}
            </div>
        </f:then>
        <f:else>
            <f:translate id="agency.no_customers" package="Joekolade.Bureau"></f:translate>
        </f:else>

    </f:if>
</f:section>