{namespace neos=Neos\Neos\ViewHelpers}
<f:section name="stylesheets"></f:section>
<f:section name="body">
    <div class="content__backlink">
        <neos:link.node node="{agency}">
            <i class="fal fa-arrow-left"></i> zur Übersicht
        </neos:link.node>
    </div>

    <h2>{title}</h2>
    <section class="factbox">
        <div class="col">
            <header>
                <h3>
                    <f:translate id="customer.hardware.header" package="Joekolade.Bureau"></f:translate>
                </h3>
            </header>
            <section class="customerbox customerbox--small">

                    {customerurl -> f:format.raw()}

                    {customercms -> f:format.raw()}

                    {customerhoster -> f:format.raw()}

                <div class="customerbox__item customerbox__item--gdpr">
                    <f:if condition="{gdpr}">
                        <f:then>
                            <i class="fal fa-shield-check"></i>
                            <f:translate id="properties.gdpr.1" source="NodeTypes/Customer" package="Joekolade.Bureau"></f:translate>
                        </f:then>
                        <f:else>
                            <i class="fal fa-ban" style="color:Tomato"></i>
                            <f:translate id="properties.gdpr.0" source="NodeTypes/Customer" package="Joekolade.Bureau"></f:translate>
                        </f:else>
                    </f:if>
                </div>
                <f:if condition="{customeradmin}">
                    <div class="customerbox__item customerbox__item--customeradmin">
                        <f:translate id="customer.customeradmin.text" package="Joekolade.Bureau" arguments="{0: '{customeradmin -> f:format.date(format: \'d.m.Y\')}'}"></f:translate>
                    </div>
                </f:if>
            </section>
        </div>
        <div class="col">
            <header>
                <h3><f:translate id="properties.description" source="NodeTypes/Customer" package="Joekolade.Bureau"></f:translate></h3>
            </header>
            <neos:contentElement.wrap node="{node}">
            {main -> f:format.raw()}
            </neos:contentElement.wrap>

        </div>
    </section>

    <section class="box box--bg">
        <header>
            <h3>
                <f:translate id="customer.recommendation.header" package="Joekolade.Bureau"></f:translate>
            </h3>
        </header>
        <div class="recommendationbox__content">
            <neos:contentElement.wrap node="{node}">
            <p>
                <neos:contentElement.editable property="recommendation" tag="div"/>
            </p>
            </neos:contentElement.wrap>
        </div>
    </section>
    <section class="box">
        <header>
            <h3>
                <f:translate id="properties.tasks" source="NodeTypes/Customer" package="Joekolade.Bureau"></f:translate>
            </h3>
        </header>
        <neos:contentElement.wrap node="{node}">
        <div class="recommendationbox__content">
            {tasks -> f:format.raw()}
        </div>
        </neos:contentElement.wrap>
    </section>
    <section class="box">
        <header>
            <h3>
                <f:translate id="properties.comment" source="NodeTypes/Customer" package="Joekolade.Bureau"></f:translate>
            </h3>
        </header>
        <neos:contentElement.wrap node="{node}">
        <div class="recommendationbox__content">
            {neos:contentElement.editable(property: 'comment')}
        </div>
        </neos:contentElement.wrap>
    </section>
    <section class="box">
        <header>
            <h3>
                <f:translate id="properties.references" source="NodeTypes/Customer" package="Joekolade.Bureau"></f:translate>
            </h3>
        </header>
        <neos:contentElement.wrap node="{node}">
        <div class="recommendationbox__content">
            {references -> f:format.raw()}
        </div>
        </neos:contentElement.wrap>
    </section>

</f:section>