{namespace neos=Neos\Neos\ViewHelpers}
<div{attributes -> f:format.raw()}>
	<h2 class="reference__title">
		{referencetitle}
	</h2>
	<div class="reference__image">
		<f:render partial="Image" arguments="{_all}" />
	</div>
	<div class="reference__content">
		{neos:contentElement.editable(property: 'text')}
	</div>
	<div class="reference__metabar">
        <div class="reference__meta--cms">
            <i class="fa fa-{cms-icon}"></i>
        </div>
        <div class="reference__meta--link">
            <a href="{referenceurl -> f:format.raw()}" target="_blank">{referenceurl -> f:format.raw()}</a>
        </div>
	</div>
</div>
